* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8px;
}

/* NAVBAR PART START */
.navbar {
    background-color: #1C1E53 !important;
    padding-top: 26px;
    padding-bottom: 24px;
}

.navbar .nav-item {
    padding-left: 20px;
}

.navbar .nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #BBBBCB;
    line-height: 28px;
}

.navbar .nav-item a:hover {
    color: white;
    transition: 0.5s;
}

.navbar .button a {
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #BBBBCB;
    padding: 16px 48px;
    border: 1px solid white;
    border-radius: 100px;
}

.navbar .button a:hover {
    background-color: rgb(20, 202, 159);
    transition: 0.8s;
}
/* CONTACT PART STRT */
#contact{
    padding: 128px 0px;
}
#contact .container h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
    text-align: center;
}
#contact .container P{
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    width: 562px;
    height: 56px;
    padding-top: 16px;
    margin: 0 auto;
    text-align: center;
}
#contact .container .row{
    margin-top: 64px;
}
#contact .container .row .col-lg-10{
    background-color: #F4F6FC;
    border-radius: 10px;
}
#contact .container .row .col-lg-10 form{
     padding: 63px 76px 69px 77px;
}
#contact .container .row .col-lg-10 .form{
    display: flex;
    gap: 32px;
}
#contact .container .row .col-lg-10 h5{
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}
#contact .container .row .col-lg-10 input{
    width: 438px;
    height: 64px;
    border-radius:8px;
    padding-left: 32px;
}
#contact .container .row .col-lg-10 input::placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    
}
#contact .container .row .col-lg-10 .message input{
    width: 908px;
    height: 138px;
    border-radius:8px;
}
#contact .container .row .col-lg-10 .message input::placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
#contact .container .row .col-lg-10 .buttons a{
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 32px;
    color: #F4F6FC;
    padding: 16px 64px;
    background-color: #282938;
    border-radius: 100px;
    margin-top: 32px;
}
/* CONTACT PAET END */