* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8px;
}

/* NAVBAR PART START */
.navbar {
    background-color: #1C1E53 !important;
    padding-top: 26px;
    padding-bottom: 24px;
}

.navbar .nav-item {
    padding-left: 20px;
}

.navbar .nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #BBBBCB;
    line-height: 28px;
}

.navbar .nav-item a:hover {
    color: white;
    transition: 0.5s;
}

.navbar .button a {
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #BBBBCB;
    padding: 16px 48px;
    border: 1px solid white;
    border-radius: 100px;
}

.navbar .button a:hover {
    background-color: rgb(20, 202, 159);
    transition: 0.8s;
}
